<!DOCTYPE html>
<html>
<head>
<title><%= title %> | home</title>
<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<h1><%= title %> : home</h1>
<%
if( err )
{
%>
<div id="err"><%= err %></div>
<%
}
%>
<div id="rooms" class="list-wrap first">
	<h2 class="header">rooms <a href="/chat/users" id="refresh-rooms" class="clickable">refresh</a></h2>
	<div class="list"></div>
</div>
<form action="/chat" method="post" id="join-chat">
	<label for="room-name">Room name to join</label>
	<input type="text" id="room_name" name="room_name" />
	<br />
	<label for="nickname">Nickname</label>
	<input type="text" id="nickname" name="nickname" />
	<br />
	<input type="submit" value="join" />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-2.1.1.min.js"></script>
<script>
	var socket = io.connect();

	var updateRooms = function( data )
	{
		$( '#rooms .list' ).empty();
		for( var i = 0; i < data.length; i++ )
		{
			var $room = $( '<div class="clickable" data-room="' + data[ i ] + '">' + data[ i ] + '</div>' );
			$room.on( 'click', function()
			{
				$( '#room_name' ).val( $( this ).data( 'room' ) );
				$( '#nickname' ).focus();
			} );

			$( '#rooms .list' ).append( $room );
		}
	};

	socket.on( 'rooms', function( data )
	{
		updateRooms( data );
	} );

	socket.emit( 'rooms', {} );

	$( '#join-chat' ).on( 'submit', function()
	{
		if( !$( '#room_name' ).val() )
		{
			alert( 'please set room name.' );
			$( '#room_name' ).focus();
		}
		else if( !$( '#nickname' ).val() )
		{
			alert( 'please set nickname.' );
			$( '#nickname' ).focus();
		}
		else
		{
			return true;
		}

		return false;
	} );

	$( '#refresh-rooms' ).on( 'click', function()
	{
		socket.emit( 'rooms', {} );

		return false;
	} );
</script>
</body>
</html>
