body
{
	padding : 10px;
	font    : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
	color : #00b7ff;
}

#err
{
	color       : #f00;
	font-size   : 18px;
	font-weight : bold;
	margin      : 20px;
}

.list-wrap
{
	border        : 3px dashed #000;
	border-radius : 20px;
	padding       : 0 20px 20px 20px;
	margin        : 10px 0 40px 0;
	position      : relative;
}

.list-wrap > .header
{
	background : #fff;
	margin     : -20px 0 5px 0;
	float      : left;
	/*	position   : absolute;
		top        : -35px; */
}

.list-wrap > .list:before
{
	content : '';
	display : block;
	width   : 100%;
	clear   : both;
}

.list-wrap.first
{
	margin-top : 50px;
}

.list-wrap.last
{
	margin-bottom : 50px;
}

#messages
{

}

#messages *
{
	word-break : break-all;
	word-wrap  : break-word;
	/*white-space   : pre;*/
}

#messages > .list
{
	margin-top : 10px;
	overflow-y : auto;
}

#messages > .list > p > span
{
	height      : 20px;
	line-height : 20px;
}

#messages > .list > p > .nickname
{
	margin      : 0 10px 0 0;
	font-weight : bold;
	cursor      : pointer;
	background  : #bbb;
	padding     : 0 5px;
}

#messages > .list > .mine
{
	background : #eee;
}

#messages > .list > .whisper
{
	background : #ee0;
}

.clickable
{
	cursor          : pointer;
	display         : inline-block;
	padding         : 5px;
	margin          : 5px;
	border-radius   : 10px;
	background      : #aaa;
	color           : #367cff;
	font-size       : 14px;
	text-decoration : none;
	height          : 20px;
	line-height     : 20px;
}

.list .clickable
{
	border-radius : 5px;
	background    : #ccc;
	color         : #555;
}

#whisper
{
	cursor        : pointer;
	display       : inline-block;
	background    : #aaa;
	padding       : 5px 0px 5px 7px;
	margin        : 5px;
	border-radius : 10px;
	display       : none;
}

#whisper .quit
{
	width         : 14px;
	height        : 14px;
	border-radius : 7px;
	background    : #000;
	border        : 1px solid #000;
	text-align    : center;
	line-height   : 14px;
	font-weight   : bold;
	color         : #fff;
}

#whisper .user-name
{
	color : #ee0;
}

#whisper span
{
	display : inline-block;
}